<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add a Movie</title>
</head>
	<body>
    <center><h1><b>Add a Movie<b></h1>
      <h2>Movie info:</h2>
		<form action="/movies/add" method="post">
			<label></label><input type="text" name="title" placeholder="title" required />
      <label>by</label>
			<label></label><input type="text" name="director" placeholder="director" required />
      <label>( <input type="text" name="year" placeholder="year" required /> )</label>
			<input type="submit" value="Add" /><center>
		</form>
	</body>
</html>
