<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<h1><b><center>Let's Watch Some Movies!<center><b></h1>
      <form action="/movies" method="GET">
        <center>Director: <input type="text" name="director" required/>
  			<input type="submit" value="Filter" /><center>
  		</form>
      <br>
      <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      </style>
      <table>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
      </tr>
      {{#each movies}}
      <tr>
      <td>{{this.title}}</td>
      <td>{{this.year}}</td>
      <td>{{this.director}}</td>
    </tr>
    {{/each}}
    </table>

      <ul style="list-style-type: none;">
  		</ul>
      <a href="/movies/add"><center>Add a Movie<center></a>
	</body>
</html>
